<!-- Header -->
<header class="header">
	
	<div class="header-overlay">
		
		<div class="container-fluid">
			
			<div class="row">
				
				<div class="col-md-12">
					
					<!-- Logo -->
					<div class="logo">
						
					<img class="img-responsive img-logo" src="images/logo.svg" alt="Logo">

					</div>

				</div>		
			</div>

			<div class="row">
				
				<div class="col-md-7 col-md-offset-1">
					
					<div class="header-text">

						<h1>LipSense</h1>
						<h2>The kiss proof, smudge proof, water proof</h2>
						<h2>lipstick that last up to 18 hours!</h2>

					</div>

					<br>
					
					<div class="signup-text">

						<h1>Sign Up</h1>
						<h2>For monthly discounts and updates on new products</h2>
						<h2>available from The Lippy Chick. Sign up now and remember, Stay Pretty!</h2>

					</div>

					<div class="header-btns">
						
						<!-- Header Buttons-->
						<a class="btn btn-signup" href="#">Sign-up</a>
						<a class="btn btn-tour" href="#">Take A Tour <i class="fa fa-angle-right"></i></a>

						<!-- Tour Menu -->
						<ul class="tour-menu">
							<li><a href="#">Colors</a></li>
							<li><a href="#">Glosses</a></li>
							<li><a href="#">Other Products</a></li>
							<li><a href="#">Videos Tutorials</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#">Contact Us</a></li>
						</ul>
						
					</div>

				</div>

				<div class="col-md-4">

					
				<div class="header-other">
					
					<!-- Header Other Products -->
					<div class="other-text">
						
						<h2>Here are just a few of the <span>awesome</span> colors that you can choose from!</h2>

					</div>

					<!-- Other Slide Show -->
					<div id="other-slides" class="carousel slide" data-ride="carousel">
						
					<div class="carousel-outer">
						
						<div class="carousel-inner">
							
							<div class="item active">
								
								<img src="images/aussieRose.svg" alt="Aussie Rose">

							</div>
							
							<div class="item">
								
								<img src="images/caramelLatte.svg" alt="Caramel Latte">

							</div>
							
							<div class="item">
								
								<img src="images/lexieBerry.svg" alt="Lexie Berry">

							</div>
							
							<div class="item">
								
								<img src="images/mauveIce.svg" alt="Mauve Ice">

							</div>
							
							<div class="item" alt="">
								
								<img src="images/roseIce.svg" alt="Rose Ice">

							</div>
							
							<div class="item">
								
								<img src="images/sheerPink.svg" alt="Sheer Pink">

							</div>

						</div>

					</div>

						<ol class="carousel-indicators">
							
							<li data-target="#other-slides" data-slide-to="0" class="active">
								
								<img src="images/aussieRose.svg" alt="Aussie Rose">

							</li>
							
							<li data-target="#other-slides" data-slide-to="1">
								
								<img src="images/caramelLatte.svg" alt="Caramel Latte">

							</li>
							
							<li data-target="#other-slides" data-slide-to="2">
								
								<img src="images/lexieBerry.svg" alt="Lexie Berry">

							</li>
							
							<li data-target="#other-slides" data-slide-to="3">
								
								<img src="images/mauveIce.svg" alt="Mauve Ice">

							</li>
							
							<li data-target="#other-slides" data-slide-to="4" alt="">
								
								<img src="images/roseIce.svg" alt="Rose Ice">

							</li>
							
							<li data-target="#other-slides" data-slide-to="5">
								
								<img src="images/sheerPink.svg" alt="Sheer Pink">

							</li>

						</ol>

					</div>

				</div>

				</div>

			</div>

		</div> 

	</div>

</header>